{% extends 'base.html' %}

{% block content %}

<p>
  {% for item in photo %}
    <img src="{{ item.image.url }}" style="width:200px; height:200px;"
  {% endfor %}
</p>

<div class="card">
  <div class="card-header">{{ adv.date }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ adv.title }}</h5>
    <h5 class="card-title">{{ adv.phone }}</h5>
    <h5 class="card-title">{{ adv.email }}</h5>
    <p class="card-text">{{ adv.text }}</p>
    <a href="{{ adv.get_UpdateUrl }}" class="btn btn-primary">Редактировать</a>
    <a href="{{ adv.get_DeleteUrl }}" class="btn btn-danger">Удалить</a>
  </div>
</div>

{% endblock %}